*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
    font-family: 'Nunito', sans-serif;
}
.main__header{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: grid;
    align-items: center;
    height: 90px;
    background-color: white;
    transition: all 0.5s;
}
.nav__fixed{
    height: 70px;
    border-bottom: none;
    background-color: white;
}
.fixed__top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .brand a{
    color: #dc4f72;
    text-decoration: none;
}

.logo{
    font-size: 25px;
    font-weight: bold;
    color: #dc4f72;
}
.nav__menu {
    display: flex;
    align-items: center;
}
.nav__menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.nav__menu .menu__item{
    position: relative;
}

.nav__menu .menu__item::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #dc4f72;
    transition: all 0.5s;
    /* width: 30%; */
    text-align: center;
}
.nav__menu .menu__item:hover::after{
    width: 30%;
}
.nav__menu ul li{
    padding-right: 30px;
    display: inline;
}
.nav__menu ul li a{
    text-decoration: none;
    color: black;
}
.nav__menu ul li .active{
    color: #dc4f72;
}
.nav__menu .icon__search {
    display:-ms-inline-grid;
    align-items: center;
    margin-right: 15px;
    
}
.nav__menu .icon__search .search{
    background-color: rgba(128, 128, 128, 0.118);
    border-radius: 50%;
    padding: 7px 10px;
    border: 1px solid rgba(128, 128, 128, 0.095);
}
.nav__menu .icon__search .search:hover i{
    color: black;
}
.nav__menu .icon__search .search i{
    font-size: 15px;
    color: #5a5a5a87;
}
.button__demo .menu__button{
    font-size: 14px;
    font-weight: 600;
    color: #dc4f72;
    background-color: white;
    border-radius: 5px;
    padding: 15px 25px;
    border: 1px solid #dc4f72;
    transition: all 0.5s;
    margin-right: 15px;
    text-transform: uppercase;
}
nav .button__demo .menu__button:hover{
    background-color: #dc4f72;
    color: white;
}.icon__moon .moon i{
    font-size: 20px;
    color: black;

}

.carousel{
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url('../image/banner.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}
.carousel__content{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    align-items: center;
    
}
.carousel__left{
    width: 50%;
    
}
.carousel__left h1{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 10px;
}
.carousel__left h4{
    font-size: 20px;
    color: gray;
    margin-bottom: 50px;
}
.carousel__left button{
    border-radius: 5px;
    padding: 15px 30px;
    background-color: white;
    color: #dc4f72;
    border: 1px solid #dc4f72;
    font-weight: 600;
}
.carousel__right{
    width: 50%;
}

/* Business  */
.business{
    margin-top: 60px;
    margin-bottom: 70px;
}
.business .business__title{
    text-align: center;
    padding: 0 180px;
    margin-bottom: 60px;
} 
.business .business__title h5{
    color: #dc4f72;
    font-size: 18px;
    font-weight: 600;
}
.business .business__title h1{
    font-weight: bold;
}
.business .business__title p{
    color: gray;
}
.business__stuff{
    display: flex;
    align-items: center;
}
.Interactive{
    margin-right: 30px;
    cursor: pointer;
}
.Interactive .Interactive__item {
    text-align: center;
    padding: 0 20px;
    padding-top:50px;
    padding-bottom: 40px;
    background-color: #f7f9fc;
    transform: translateY(0);
    transition: all 0.3s;
}
.Interactive .Interactive__item:hover{
    transform: translateY(-10px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.Interactive__item a{
    color: black;
    text-decoration: none;
}
.Interactive__item img{
    margin-bottom: 15px;
}
.Interactive__item h3{
    font-weight: bold;
    margin-bottom: 15px;
}
.Interactive__item p{
    color: gray;
}

/* Company */
.company{
    background-color: #f7f9fc;
    padding: 80px 0;
}
.our__company{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.company__left{
    text-align: left;
    max-width: 50%;
}
.company__left .title{
    text-align: left;
    padding: 0 15px;
    margin-bottom: 50px;
}
.company__left .title h6{
    color: #dc4f72;
    font-weight: bold;
}
.company__left .title h3{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 25px;
}
.company__left .title p{
    color: gray;
}
.company__left .title button{
    background-color: #dc4f72;
}
.company__left .read__more button{
    background-color: #dc4f72;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    border: 1px solid #dc4f72;
}
.company__right{
    margin-left: 50px;
}
.company__right img{
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transform: translateY(0);
    transition: all 0.5s;
}
.company__right img:hover{
    transform: translateY(-8px);
}
.bottom {
    display: flex;
    justify-content: center;
}
.company__bottom .customer{
    background-color:white ;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-right: 30px;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
}
.company__bottom .customer h6{
    font-weight: bold;
}
.company__bottom .customer span{
    color: #dc4f72;
    font-weight: bold;
    font-size: 50px;
}
.company__bottom .customer p{
    color: gray;
}


.ourselves{
    background:linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)),
    url('../image/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 80px;
    padding-bottom: 80px;
}
.ourselves .ourselves__title {
    text-align: left;
    width: 53%;
    margin-bottom: 50px;
    
}
.ourselves .ourselves__title h2{
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}
.ourselves .ourselves__title p{
    color: white;
    padding-right: 50px;
}
.ourselves .ourselves__item button{
    background-color: white;
    border: none;
    color: black;
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 5px;
}